
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Footstep01.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Footstep02.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Footstep_Cue.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Impact01.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Impact02.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Impact03.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Impact04.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_ImpactL_Cue.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Roar02.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Roar03.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Roar_02_Cue.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Roar_03_Cue.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Spawn01.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Spawn02.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Spawn_Cue.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Swing01.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Swing02.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Swing03.uasset
Content/Blueprints/Weapon/Goblin/GoblinWeapon_Axe.uasset
Content/Blueprints/Weapon/Goblin/GoblinWeapon_Base.uasset
Content/Blueprints/Weapon/Goblin/GoblinWeapon_Torch.uasset
Content/Blueprints/Weapon/GreateBladeActor.uasset
Content/Blueprints/Weapon/GuardianWeaponActor.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Enemy_Anim_Sword_Combat_Swing.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Enemy_Gruntling_Guardian_Animation/Aggro_A.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Enemy_Gruntling_Guardian_Animation/Cast.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Enemy_Gruntling_Guardian_Animation/Death.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Enemy_Gruntling_Guardian_Animation/Death_Small_03.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Enemy_Gruntling_Guardian_Animation/Death_Small_05.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Enemy_Gruntling_Guardian_Animation/Gruntling_Run.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Enemy_Gruntling_Guardian_Animation/Gruntling_Walk.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Enemy_Gruntling_Guardian_Animation/Gruntling_Walk_Slow.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Enemy_Gruntling_Guardian_Animation/Idle_Grunt.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Enemy_Gruntling_Guardian_Animation/Intro_ClimbingUp.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Enemy_Gruntling_Guardian_Animation/Intro_Summon.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Enemy_Gruntling_Guardian_Animation/React_Heavy_Front.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Enemy_Gruntling_Guardian_Animation/React_Knockback_Front.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Materials/CharM_Gruntling.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Materials/CharM_Gruntling_Avalanche.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Materials/CharM_Gruntling_Base.uasset
Content/Enemy/Enemy_Gruntling_Guardian/SK_Exodus_Gruntling.uasset
Content/Enemy/Enemy_Gruntling_Guardian/SK_Exodus_Gruntling_PhysicsAsset.uasset
Content/Enemy/Enemy_Gruntling_Guardian/SK_Gruntling_Avalanche.uasset
Content/Enemy/Enemy_Gruntling_Guardian/SK_Gruntling_Guardian.uasset
Content/Enemy/Enemy_Gruntling_Guardian/SK_Gruntling_Guardian_Skeleton.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Textures/T_Gruntling_Avalanche_D.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Textures/T_Gruntling_Avalanche_E.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Textures/T_Gruntling_Avalanche_M.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Textures/T_Gruntling_Avalanche_N.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Textures/T_Gruntling_D.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Textures/T_Gruntling_E.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Textures/T_Gruntling_Guardian_D.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Textures/T_Gruntling_Guardian_E.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Textures/T_Gruntling_Guardian_M.uasset
Content/Enemy/Enemy_Gruntling_Guardian/Textures/T_Gruntling_Guardian_N.uasset
