
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Footstep01.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Footstep02.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Footstep_Cue.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Impact01.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Impact02.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Impact03.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Impact04.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_ImpactL_Cue.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Roar02.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Roar03.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Roar_02_Cue.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Roar_03_Cue.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Spawn01.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Spawn02.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Spawn_Cue.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Swing01.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Swing02.uasset
Content/Assets/Sounds/Creatures/Guardian/A_Guardian_Swing03.uasset
